@import './base.css';

body{
    font-family: var(--mainFont);
    background-color: #eee; /*لون غامق شوي*/
}

.header{
    background-color: #fff; /*لون ابيض*/
    padding: 20px 0;
}
.header .logo{
    display: flex;
    align-items: center;/*التحكم فيهم بشكل عمودي*/
    gap:2px;
}

.header .logo img{
    width:35px;
}

.header .logo a{
    color:var(--mainColor);
}

.nav ul{
    display:flex;
    gap:16px;
}

.nav ul li a{
    color:#101928;
}

.active{
    font-weight: 900;
}

/* افضل active هذا مش افضل حل , نستعمل كلاس اخر اسمه 
.nav ul li:first-child{
    font-weight: 900;
}
*/
.auth{
    display: flex;
    align-items: center;
    gap:10px;
}

.auth a{
    font-family: var(--subFont);
    border-radius: 10px;
    padding: 5.3541765213012695px 30.18113136291504px;
}
.auth .login{
    border:2px solid var(--mainColor);
    color: var(--mainColor);
    font-weight: 700;
}

.auth .register{
    color:#fff;
    background-color: var(--mainColor);
    border:2px solid var(--mainColor);
}