@import './base.css';

body{
    font-family: var(--mainFont);
    background-color: #eee; /*لون غامق شوي*/
}

.menu{
    display: none;
}

.header{
    background-color: #fff; /*لون ابيض*/
    padding: 20px 0;
}
.header .logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;/*التحكم فيهم بشكل عمودي*/
    gap:2px;
}

.header .logo img{
    width:35px;
}

.header .logo a{
    color:var(--mainColor);
}

.navbar ul{
    display:flex;
    flex-wrap: wrap;
    gap:16px;
}

.navbar ul li a{
    color:#101928;
}

.active{
    font-weight: 900;
}

/* افضل active هذا مش افضل حل , نستعمل كلاس اخر اسمه 
.nav ul li:first-child{
    font-weight: 900;
}
*/
.auth{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:10px;
}

.auth a{
    font-family: var(--subFont);
    border-radius: 10px;
    padding: 5.3541765213012695px 30.18113136291504px;
}
.auth .login{
    border:2px solid var(--mainColor);
    color: var(--mainColor);
    font-weight: 700;
}

.auth .register{
    color:#fff;
    background-color: var(--mainColor);
    border:2px solid var(--mainColor);
}

/*media header*/
@media screen and (max-width:992px){
    .navbar, /*display : none => don't reserve place , visibility : hidden => reserve place*/
    .auth{  
        display: none; /*تعني لعند 992 ما بتظهر , بعدها بتظهر*/
    }
    .menu{
        display: block;
        /*order:2; ما في داعي لانه الثانيات بختفين عند 992 وتحت لذلك الايقونة بتظهر*/
    }
    
}


@media screen and (max-width:576px){
    .container{
        width:calc(100% - 50px);

    }
    .header .logo img{ /*مش رح يشتغل .logo img{} موضوع السبيسيفيتي كثير مهم , لو عملنا*/
        width:20px;
    }
    .header .logo a{
        font-size:14px;
    }
}

.testimonials{
    padding: 50px 0;
    background-color: #fff;
}

.testimonials .row{
    gap:40px;

}

.testimonial{
    box-shadow: 0px 8.23719596862793px 8.23719596862793px rgba(0, 0, 0, 0.1);/*عشان نعمل ظل*/
    padding: 20px;
    box-sizing: border-box;/*ان تجعل البادنج والبوردر ما يزيدو عن الويدث والهاي, بل تجعلهم يتطبقوا على الوديث الاصلي*/
    width:calc((100% - 40px)/2);
    display: flex;
    flex-direction: column;
    gap:10px;
}
.user-info{
    display: flex;
    gap:15px;
    flex-wrap: wrap;
    align-items: center;
}

.user-info img{
    width:40px;
    height:40px;
    border-radius: 50%;/*للتحويل لدائرة*/
}

.user-data{
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex-wrap: wrap;
}

.rating{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

@media screen and (max-width:768px){
    .testimonial{
        width:100%;
    }
}

.footer{
    background-color: #393E46;
    color:#fff;
    padding: 50px 0;
}

/*طريقة اخرى بداية*/
.footer .row{
    gap:20px;
}
/*طريقة اخرى نهاية*/
.footer a{
    color: #fff;
}
.footer-left-side{
    /*background-color: red;*/
    /*width:400px;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:20px;
    width:calc(( 100% - 20px ) / 2);
}

.footer-left-side .logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;/*التحكم فيهم بشكل عمودي*/
    gap:2px;
}

.footer-left-side .logo img{
    width:35px;
}

.footer-left-side .icons img{
    border : 1px solid #fff;
    padding: 10px;
    width: 20px;
    height: 20px;
}

.footer-right-side{
    /*background-color: blue;*/
    /*flex-grow: 1;*//*عشان باقي الويدث للرايت يكون اله ,بعد ما الليفت اخذ 400*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:calc(( 100% - 20px ) / 2);
}

.footer-right-side nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.footer-right-side .footer-item{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

@media screen and (max-width:1200px){
    /*
    .footer .row{
        gap:10px;
    }
    .footer-left-side{
        width:100%;
    }
    .footer-right-side{
        width:100%;
    }
   */
}

@media screen and (max-width:768px){

    .footer .row{
        flex-direction: column;
    }
    .footer-left-side,
    .footer-right-side{
        width: 100%;
    }
    .footer-right-side{
        gap:10px;
    }
    .footer-right-side .footer-item{
        width: calc((100% - 10px)/ 4);
    }

    /*
  .footer-item{
    width: 50%; *//*عشان بس نوصلها الكلام للفوتر ايتم ما يدخل ببعض ينزل لتحت لانا عاملين فلكس راب = راب*/
    /*margin-bottom: 21px;*/
 /*}*/

}

@media screen and (max-width:576px){

    .footer-right-side{
        gap:10px;
    }
    .footer-left-side p{
        display: none;
    }
    .footer-right-side .footer-item{
        width: calc((100% - 10px)/3);
    }
}

@media screen and (max-width:460px){
    
    .footer-right-side .footer-item{
      width: 100%;
      text-align: center;
   }
    
}